<!-- ========== NAVIGATION ========== -->
<nav class="navbar">
    <div class="nav-container">
        <a href="index.html" class="nav-brand">
            <i class="fa-solid fa-bolt"></i>
            <span>RCSpeed</span>
        </a>
        
        <ul class="nav-links">
            <li class="nav-dropdown">
                <a href="#">
                    Home
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="index.html">Home 1</a></li>
                    <li><a href="home2.html">Home 2</a></li>
                </ul>
            </li>
            <li><a href="categories.html">Categories</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="new-arrivals.html">New Arrivals</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signup.html" class="nav-cta">
                <i class="fa-solid fa-shopping-cart"></i>
                Shop Now
            </a></li>
            <li class="theme-toggle-container">
                <div class="theme-toggle" onclick="toggleTheme()">
                    <i class="fa-solid fa-sun" id="sunIcon"></i>
                    <i class="fa-solid fa-moon" id="moonIcon"></i>
                </div>
            </li>
        </ul>
        
        <div class="menu-toggle" onclick="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
